.card {
  width: auto;
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffe2b3;
  margin-top: 20px;
  margin-bottom: 20px;

  .image {
    flex: 3;
    height: 100%;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .text {
    flex: 4;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin: 20px;

    .title {
      display: flex;
      align-items: flex-start;
      font-weight: 800px;
      font-size: xx-large;
      width: 100%;
    }

    .details {
      display: flex;
      align-items: flex-start;
    }
  }
}