@import "../../../style.scss";

.card {
  width: auto;
  display: flex;
  height: 400px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffe2b3;
  margin-top: 20px;
  margin-bottom: 20px;

  @include mobile {
    flex-direction: column;
    height: 70vh;

  }

  .image {
    flex: 3;
    height: 100%;
    overflow: hidden;

    @include mobile {
      flex: 4;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .text {
    flex: 3;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin: 20px;
    overflow: visible;

    .title {
      display: flex;
      align-items: flex-start;
      font-weight: 800px;
      font-size: xx-large;
      width: 100%;
    }

    .details {
      display: flex;
      align-items: flex-start;
    }
  }
}