.work {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex: 1;
  color: white;
  background-size: cover;

  .title {
    overflow-wrap: break-word;
  }
}