@import "../../../style.scss";

.work {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  flex: 1;
  color: white;
  background-size: cover;
  min-height: 500px;

  .title {
    overflow-wrap: break-word;
  }
}